<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.updownteam.businessww">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/loqo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/loqo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Investor_info"></activity>
        <activity android:name=".Producer_info" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity android:name=".Answer_setting" />
        <activity android:name=".Question_settings" />
        <activity android:name=".InvestorRequest_settings" />
        <activity android:name=".ProducerRequest_settings" />
        <activity android:name=".FriendRequest_settings" />
        <activity android:name=".AboutUs_settings" />
        <activity android:name=".Profil_settings" />
        <activity android:name=".Producer_settings" />
        <activity android:name=".Investor_settings" />
        <activity android:name=".Friend_setting" />
        <activity android:name=".AskAndAnswer_3" />
        <activity android:name=".CreateQuestion_2" />
        <activity android:name=".CreateQuestion_1" />
        <activity android:name=".AskAndAnswer_2" />
        <activity android:name=".AskAndAnswer_1" />
        <activity android:name=".producerfindersearch_2" />
        <activity android:name=".producerfindersearch1" />
        <activity android:name=".Product_8_1" />
        <activity android:name=".Producer_9" />
        <activity android:name=".Producer_8" />
        <activity android:name=".Producer_7" />
        <activity android:name=".Producer_6" />
        <activity android:name=".Producer_5" />
        <activity android:name=".investorfindersearch2" />
        <activity android:name=".investorfindersearch1" />
        <activity android:name=".InvestorMain2" />
        <activity android:name=".Investor_6" />
        <activity android:name=".Investor_5" />
        <activity android:name=".InvestorMain" />
        <activity android:name=".Investor_4" />
        <activity android:name=".Producer_4" />
        <activity android:name=".Producer_3" />
        <activity android:name=".Investor_3" />
        <activity android:name=".Producer_2" />
        <activity android:name=".Investors_2" />
        <activity android:name=".Producer_1" />
        <activity android:name=".Investor_1" />
        <activity android:name=".InvestorFinder1" />
        <activity android:name=".FriendRequest" />
        <activity android:name=".Settings" />
        <activity android:name=".ProfilGuest" />
        <activity android:name=".SocialMedia1Search" />
        <activity android:name=".Register" />
        <activity android:name=".SocialMedia1" />
        <activity android:name=".LogIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>